<!doctype html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/all.css">

</head>


<body bgcolor="" >

<div id="image">
    <img src="img/pyjokes.png"></img>
</div>

<div id="jokes">
    <p>[SPANISH]</p> <h3> {{ spanish }} </h3> <br>
    <p>[DEUTSCH]</p> <h3> {{ deutsch }} </h3> <br>
    <p>[ENGLISH]</p> <h3> {{ english }} </h3> <br>
</div>

<br>

<div id="footer">
    by <a href="http://pyjok.es">Pyjokes society</a>
</div>


</body>


<script type="text/javascript">
     let currentTime = new Date().getTime();
     let timeToRefresh = 15000;
     let timeOut = 1000;

     function refresh() {
         if(new Date().getTime() - currentTime >= timeToRefresh)
             window.location.reload(true);
         else
             setTimeout(refresh, timeOut);
     }
     setTimeout(refresh, timeOut);
</script>

</html>

