<!doctype html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/css/all.css">

</head>




<body bgcolor="" >

<div id="image">
    <img src="static/img/pyjokes.png"></img>
</div>

<div id="jokes">
   <p>[EUSKARAZ]</p> <h3>{{ basque }} </h3><br>
   <p>[CASTELLANO]</p> <h3> {{ spanish }} </h3> <br>
   <p>[ENGLISH]</p> <h3> {{ english }} </h3> <br>
</div>

<br>

<div id="footer">
    by <a href="http://pyjok.es">Pyjokes society</a>
</div>


</body>


<script type="text/javascript">
     var time = new Date().getTime();

     function refresh() {
         if(new Date().getTime() - time >= 15000)
             window.location.reload(true);
         else
             setTimeout(refresh, 1000);
     }

     setTimeout(refresh, 1000);
</script>


</html>

